* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: brown;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    width: 100%;
    align-items: center;
    z-index: 5;
    position: sticky;
    top: 0;
}

button {
    margin: 10px;
    padding: 8px;
}

h2 {
    align-items: center;
    color: aqua;
    font-weight: bold;
    font-size: 2.5rem;
}